name: Pull Request Labeling

on:
  pull_request:
    types: [labeled, unlabeled, opened, edited, synchronize]

jobs:
  pr-label:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v4
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"

  label-check:
    runs-on: ubuntu-latest
    needs: pr-label
    steps:
      - uses: yogevbd/enforce-label-action@2.2.2
        with:
          REQUIRED_LABELS_ANY: |
            "bug,enhancement,ci,documentation,dependencies,ignore-for-release"
          REQUIRED_LABELS_ANY_DESCRIPTION: |
            "Select at least one label ['bug', 'enhancement', 'ci', 'documentation', 'dependencies', 'ignore-for-release']"
